.App {
  font-family: sans-serif;
  text-align: center;
}
.todo-container {
  width: 300px;

  margin: 10px 100px;
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 15px;
  border: 1px solid;
  background: rgb(240, 237, 237);
}
.list > li {
  padding: 10px;
}
.btns {
  margin: 10px;
  padding: 10px;
}
